h1 {
    color: forestgreen; /* Cambio en color utilizando el nombre */
  }
  
  h2 {
    color: #008080; /* Cambio en color utilizando el código HEX para teal */
  }
  
  p {
    color: rgb(70, 130, 180); /* Cambio en color utilizando el código RGB para steelblue */
  }
  
  .color1 {
    color: red; /* Cambio en color para la primera palabra usando un nombre */
  }
  
  .color2 {
    color: #00FF00; /* Cambio en color para la segunda palabra usando el código HEX */
  }
  
  .color3 {
    color: rgb(255, 0, 255); /* Cambio en color para la tercera palabra usando el código RGB */
  }
  